<%= form_for ([@patient, @appointment]) do |f| %>
  <h2>Edit Appointment</h2>
  <div class="field">
    <%= f.label :doctor_id, "Doctor" %>
    <%= f.select :doctor_id, options_for_select(User.where('actable_type = \'Doctor\' ').map {|p| [p.first_name + ' ' + p.last_name, p.actable_id]}), :required => true %>
  </div>

  <div class="field">
    <%= f.label :appointment_date, "Appointment Date" %>
    <%= f.date_field :appointment_date %>
  </div>
  <%= f.submit "Update", class: "btn btn-success" %>

<% end %>

<%= link_to "Back", :back %>