<h1 style="text-align:center">New Appointment</h1><br>
<div class="container">
  <div class="border-dark card">
    <%= form_for @appointment, url: {action: "create"} do |f| %>
      <div class="container">
          <div class="form-group col-md-4">
            <%= f.label :doctor_id, "Doctor" %>
            <%= f.select :doctor_id, options_for_select(User.where('actable_type = \'Doctor\' ').map {|p| [p.first_name + ' ' + p.last_name, p.actable_id]}.sort), :required => true, class:"form-contol" %>
          </div>

          <div class="form-group col-md-4">
            <%= f.label :appointment_date, "Appointment Date" %>
            <%= f.date_field :appointment_date, min: Date.today, class:"form-contol" %>
          </div>
        </div>

        <%= f.submit "Create", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

