<h2>Admin</h2>

<div>
  <hr>
  <br>
  <% if user_signed_in? && current_user.role_id == 1 %>
    <br>
    <br> <%= "Name: " %> <%= @admin.first_name %> <%= @admin.last_name %>
    <br> <%= "Birth Date: " %> <%= @admin.dob %>
    <br> <%= "Gender: " %> <%= @admin.gender%>
    <br> <%= "Province: " %> <%= @admin.province.name %>
    <br> <%= "District: " %> <%= @admin.district.district_name %>
    <br> <%= "Address Line 1: " %> <%= @admin.address_line_1 %>
    <br> <%= "Contact: " %> <%= @admin.contact %>
  <% end %>
  <br>
</div>