
<%= form_tag user_index_path, :method => 'get', :id => "user_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <figure class="figure">
        <%= pie_chart @d_users, donut: true, title: "# of Users", width: "600px", height: "400px" %>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
        <%= column_chart @doc_spec, title: "Doctor vs Specialty", xtitle: "Specialty", ytitle: "# of Doctors", width: "600px", height: "400px" %>
        </figure>
      </div>
    </div>

</div>