<h2>Create New Test</h2>

<%= form_for @test, url: {action: "create"} do |f| %>
<%#= form_for [@patient, @patient.tests.build]  do |f| %>

  <div class="field">
    <%= f.label :prev_diagnosis %>
    <%= f.text_area :prev_diagnosis, id: :test_prev_diagnosis %>
  </div>

  <div class="field">
    <%= f.label :prev_medication %>
    <%= f.text_area :prev_medication, id: :test_prev_medication %>
  </div>

  <div class="field">
    <%= f.label :ongoing_medication %>
    <%= f.text_area :ongoing_medication, id: :test_ongoing_medication %>
  </div>

  <div class="field">
    <%= f.label :pulse_rate %>
    <%= f.number_field :pulse_rate, id: :test_pulse_rate %>
  </div>

  <div class="field">
    <%= f.label :body_temperature %>
    <%= f.text_field :body_temperature, id: :test_body_temperature %>
  </div>

  <div class="field">
    <%= f.label :respiratory_rate %>
    <%= f.number_field :respiratory_rate, id: :test_respiratory_rate %>
  </div>

  <div class="field">
    <%= f.label :bp_systolic %>
    <%= f.number_field :bp_systolic, id: :test_bp_systolic %>
  </div>

  <div class="field">
    <%= f.label :bp_diastolic %>
    <%= f.number_field :bp_diastolic, id: :test_bp_diastolic %>
  </div>

  <div class="field">
    <%= f.label :blood_oxygen_saturation %>
    <%= f.number_field :blood_oxygen_saturation, id: :test_blood_oxygen_saturation %>
  </div>

  <div class="field">
    <%= f.label :blood_sugar_pp %>
    <%= f.number_field :blood_sugar_pp, id: :test_blood_sugar_pp %>
  </div>

  <div class="field">
    <%= f.label :blood_sugar_fasting %>
    <%= f.number_field :blood_sugar_fasting, id: :test_blood_sugar_fasting %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height, id: :test_height %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight, id: :test_weight %>
  </div>

  <div class="field">
    <%= f.label :bmi %>
    <%= f.text_field :bmi, id: :test_bmi %>
  </div>

  <div class="field">
    <%= f.label :test_date %>
    <%= f.date_select :test_date, id: :test_test_date %>
  </div>

  <div class="field">
    <%= f.label :recommendation %>
    <%= f.text_area :recommendation, id: :test_recommendation %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>