<h2>Patient</h2>

<div>
  <hr>
  <br>
  <% if user_signed_in? && (current_user.role_id == 1 || current_user.role_id == 2  || current_user.role_id == 4) %>
    <br><%= link_to 'Add New Appointment', new_patient_appointment_path(@patient) %>
    <%= link_to 'Add New Test', new_patient_test_path(@patient) %>
    <%= link_to 'Show All Tests' , patient_test_index_path(@patient) %>
    <br>
    <br> <%= "Name: " %> <%= @patient.first_name %> <%= @patient.last_name %>
    <br> <%= "Birth Date: " %> <%= @patient.dob %>
    <br> <%= "Gender: " %> <%= @patient.gender%>
    <br> <%= "Province: " %> <%= @patient.province.name %>
    <br> <%= "District: " %> <%= @patient.district.district_name %>
    <br> <%= "Address Line 1: " %> <%= @patient.address_line_1 %>
    <br> <%= "Contact: " %> <%= @patient.contact %>
    <br> <h3>Appointments</h3>

    <table class="table">
      <div class="nav-item active">
      <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Provider</th>
        <th>Appointment Date</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% get_appointments.each do |appt| %>
        <tr>
          <td><%= appt.id %></td>
          <td><%= appt.doctor.first_name + ' ' + appt.doctor.last_name %></td>
          <td><%= appt.appointment_date %></td>
          <td><%= link_to 'Edit', edit_patient_appointment_path(appt.patient, appt) %></td>
          <td><%= link_to 'Delete', [appt.patient, appt], method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
      </div>
    </table>

    <br> <h3>Tests</h3>
    <table class="table">
      <div class="nav-item active">
      <thead>
      <tr>
        <th>Test ID</th>
        <th>Test Date</th>
        <th>Ongoing Medication</th>
        <th>BMI</th>
        <th>BP Systolic</th>
        <th>BP Diastolic</th>
        <th>Blood Sugar Fasting</th>
        <th>Blood Sugar PP</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% get_tests.each do |test| %>
        <tr>
          <td><%= link_to test.id , patient_test_path(@patient, test) %></td>
          <td><%= test.test_date %></td>
          <td><%= test.ongoing_medication %></td>
          <td><%= test.bmi %></td>
          <td><%= test.bp_systolic %></td>
          <td><%= test.bp_diastolic %></td>
          <td><%= test.blood_sugar_fasting %></td>
          <td><%= test.blood_sugar_pp %></td>
          <td><%= link_to 'Edit', edit_patient_test_path(@patient, test) %></td>
          <td><%= link_to 'Delete', [@patient,test] , method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
      </div>
    </table>
  <% end %>
  <br>
</div>

<%= link_to "Back", :back %>