<h2>Doctor</h2>

<div>
  <hr>
  <br>
  <% if user_signed_in? && (current_user.role_id == 2 || current_user.role_id == 1 ) %>
    <br>
    <br> <%= "Name: " %> <%= @doctor.first_name %> <%= @doctor.last_name %>
    <br> <%= "Birth Date: " %> <%= @doctor.dob %>
    <br> <%= "Gender: " %> <%= @doctor.gender%>
    <br> <%= "Province: " %> <%= @doctor.province %>
    <br> <%= "City or Village: " %> <%= @doctor.city_village %>
    <br> <%= "Address Line 1: " %> <%= @doctor.address_line_1 %>
    <br> <%= "Contact: " %> <%= @doctor.contact %>
    <br> <h3>Patients</h3>

    <table>
      <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Patient</th>
        <th>Appointment Date</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% get_patients.each do |appt| %>
        <tr>
          <td><%= appt.id %></td>
          <td><%= appt.patient.first_name + ' ' + appt.patient.last_name %></td>
          <td><%= appt.appointment_date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
</div>