<br>
<div class="jumbotron jumbotron-fluid">

  <!--  Chart Overall Health Condition -->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'overall_health_condition',
                      type: 'column'
                  },
                  title: {
                      text: 'Health Condition VS Number of Patients'
                  },
                  xAxis: {
                      categories: ["1", "2", "3", "4", "5"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <%overall_condition.each do |row|%>
                      {
                          name: ['<%= row.condition%>'],
                          data: [<%= row.num_of_patient %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>

  <!--  Chart High BP-->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'high_bp',
                      type: 'column'
                  },
                  title: {
                      text: 'Number of Patients with High BP'
                  },
                  xAxis: {
                      categories: ["1", "2"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <% high_bp.each do |row|%>
                      {
                          name: ['<%= row.test_month%>'],
                          data: [<%= row.num_patients %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>

  <!--  Chart Low BP-->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'low_bp',
                      type: 'column'
                  },
                  title: {
                      text: 'Number of Patients with Low BP'
                  },
                  xAxis: {
                      categories: ["1", "2"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <% low_bp.each do |row|%>
                      {
                          name: ['<%= row.test_month%>'],
                          data: [<%= row.num_patients %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>

  <!--  Chart High Blood Sugar-->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'high_blood_sugar',
                      type: 'column'
                  },
                  title: {
                      text: 'Number of Patients with High Blood Sugar'
                  },
                  xAxis: {
                      categories: ["1", "2"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <% high_blood_sugar.each do |row|%>
                      {
                          name: ['<%= row.test_month%>'],
                          data: [<%= row.num_patients %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>

  <!--  Chart Low Blood Sugar-->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'low_blood_sugar',
                      type: 'column'
                  },
                  title: {
                      text: 'Number of Patients with Low Blood Sugar'
                  },
                  xAxis: {
                      categories: ["1", "2"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <% low_blood_sugar.each do |row|%>
                      {
                          name: ['<%= row.test_month%>'],
                          data: [<%= row.num_patients %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>

  <!--  Chart Low Blood  Oxygen Saturation-->
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'low_oxygen_saturation',
                      type: 'column'
                  },
                  title: {
                      text: 'Number of Patients with Low Blood Oxygen Saturation'
                  },
                  xAxis: {
                      categories: ["1", "2"],
                      //type: 'category',
                      labels: {
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },

                  tooltip: {
                      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      },
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true,
                              format: '{point.y:f}'
                          }
                      }
                  },


                  series: [
                      <% low_oxygen_saturation.each do |row|%>
                      {
                          name: ['<%= row.test_month%>'],
                          data: [<%= row.num_patients %>]
                      },
                      <% end %>
                  ],

              });
          });

      });
  </script>


  <br>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <%= pie_chart @d_users, donut: true, title: "# of Users", width: "600px", height: "400px" %>
    </div>
    <div class="col"></div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <b></b>
      <%= form_tag(dashboard_path, :method => "get", id: "search-form") do %>
        <div class="row">
          <div class="col">


              <div class="field">
                <%= label :province, "Province" %>
                <%#= select_tag :province, options_for_select(Province.all.map {|p| [p.name, p.id]}.sort, "Select Province"),
                               :prompt => "Select Province", :required => true %>

                <%= select_tag(:province, options_from_collection_for_select(Province.all.order("id ASC"), "id", "name"),
                               :include_blank => true, :required => true, :class => 'select' )%>


             <%#= collection_select :province, :province_id, Province.order(:name), :id, :name, include_blank: true %>
              </div>

              <div class="field">
                <%= label :district, "District" %>
                <%= select_tag(:district, options_from_collection_for_select(District.all.order("id ASC"), "id", "district_name"),
                               :include_blank => true, :required => false, :class => 'select') %>
                <%#= grouped_collection_select :district, :district_id, Province.order(:name), :districts, :name, :id, :district_name, include_blank: true %>
              </div>


          </div>
        </div>
        <%= submit_tag "Show", :name => 'searchHighBP' %>
      <% end %>
    </div>
  </div>



  <br>
  <div class="row">
    <div class="col">
      <div id="overall_health_condition" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col">
      <div id="low_oxygen_saturation" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div id="high_bp" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col">
      <div id="low_bp" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div id="high_blood_sugar" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col">
      <div id="low_blood_sugar" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>


</div>