<br>
<div class="jumbotron jumbotron-fluid">
  <div class="row">
  <script>
      $(function () {
          var chart;
          $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'container',
                      type: 'column'
                  },
                  title: {
                      text: 'Health Condition VS Number of Patients'
                  },
                  xAxis: {
                      categories: ['Health Condition']
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Number of Patients'
                      }
                  },
                  legend: {
                      layout: 'vertical',
                      backgroundColor: '#E9ECEF',
                      align: 'left',
                      verticalAlign: 'top',
                      x: 100,
                      y: 70,
                      floating: true,
                      shadow: true
                  },
                  tooltip: {
                      formatter: function () {
                          return '' +
                              'Number of Patients' + ': ' + this.y;
                      },

                      credits: {
                          text: 'SomeText.co.uk',
                          hreft: 'http://wwww.putyourlinkhere.co.uk'
                      }
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.4,
                          borderWidth: 0
                      }
                  },


                  series: [
                      <%overall_condition.each do |row|%>
                      {
                          name: '<%= row.condition%>',
                          data: [<%= row.num_of_patient %>]
                      },
                      <% end %>
                  ]
              });
          });

      });
  </script>
  </div>

  <div id="container" style="min-width: 600px; height: 400px; margin: 0 auto"></div>

  <div class="row">
    <div class="col">
      <figure class="figure">
      <%= pie_chart @d_users, donut: true, title: "# of Users", width: "1000px", height: "400px" %>
      </figure>
    </div>
    <div class="col">
      <figure class="figure">
      <%= column_chart @doc_spec, title: "Doctor vs Specialty", xtitle: "Specialty", ytitle: "# of Doctors", width: "800px", height: "400px" %>
      </figure>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <b>High Blood Pressure</b>
      <%= form_tag(dashboard_path, :method => "get", id: "search-form") do %>
         <%= select_tag :province, options_for_select(Province.all.map {|p| [ p.name, p.id ]}.sort,   "Select Province"),:prompt => "Select Province",:required => true, class:"btn btn-success dropdown-toggle btn-lg"  %>
        <%= submit_tag "Show", :name => 'searchHighBP', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_tag(dashboard_path, :method => "get", id: "search-form") do %>

        <div class="field">
          <%= label :province_id, "Province" %><br/>
          <%= collection_select :province, :province_id, Province.order(:name), :id, :name, include_blank: true %>
        </div>

        <div class="field">
          <%= label :district_id, "District" %><br/>
          <%= grouped_collection_select :district, :district_id, Province.order(:name), :districts, :name, :id, :district_name, include_blank: true %>
        </div>

        <%= submit_tag "Show", :name => 'searchHighBP', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>




  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Province</th>
        <th>Year-Month</th>
        <th># of Patients</th>
      </tr>
      </thead>
      <% high_bp.each do |row| %>
        <tbody>
        <tr>
          <td style="width: 300px;"><%= row.province %></td>
          <td style="width: 250px;"><%= row.test_month %></td>
          <td style="width: 250px;"><%= row.num_patients %></td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>

</div>