<h2>My Profile</h2>

<div>
  <hr>
  <% if user_signed_in? %>
    <% if current_user.role_id == 3 %>
      <br>
      <td><%= link_to 'Show All Tests', patient_test_index_path(@user.actable_id) %></td>
    <% end %>
    <br> <%= "Name: " %> <%= current_user.first_name %> <%= current_user.last_name %>
    <br> <%= "Birth Date: " %> <%= current_user.dob %>
    <br> <%= "Gender: " %> <%= current_user.gender %>
    <br> <%= "Province: " %> <%= current_user.province.name %>
    <br> <%= "District: " %> <%= current_user.district.district_name %>
    <br> <%= "Address Line 1: " %> <%= current_user.address_line_1 %>
    <br> <%= "Contact: " %> <%= current_user.contact %>


    <% if current_user.role_id == 3 %>
      <br>
      <h3>My Doctors</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Provider</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_appointments.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= appt.doctor.first_name + ' ' + appt.doctor.last_name %></td>
              <td><%= appt.appointment_date %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 4 %>
      <br>
      <br><h3>Appointments</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Provider</th>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_appointments_for_nurse.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= appt.doctor.first_name + ' ' + appt.doctor.last_name %></td>
              <td><%= appt.patient.first_name + ' ' + appt.patient.last_name %></td>
              <td><%= appt.appointment_dategis %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 2 %>
      <br>
      <h3>My Patients</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_patients.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= link_to appt.patient.first_name + ' ' + appt.patient.last_name, patient_path(appt.patient) %></td>
              <td><%= appt.appointment_date %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 3 %>
      <br><b>Charts</b>
      <div class="jumbotron jumbotron-fluid">
        <div class="row">

          <div id="container" style="min-width: 1200px; height: 400px; margin: 0 auto"></div>

          <script>
              $(function () {
                  $('#container').highcharts({
                      title: {
                          text: 'Monthly Average Temperature',
                          x: -20 //center
                      },
                      subtitle: {
                          text: 'Source: WorldClimate.com',
                          x: -20
                      },
                      xAxis: {
                          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                      },
                      yAxis: {
                          title: {
                              text: 'Temperature (°C)'
                          },
                          plotLines: [{
                              value: 0,
                              width: 1,
                              color: '#808080'
                          }]
                      },
                      tooltip: {
                          valueSuffix: '°C'
                      },
                      legend: {
                          layout: 'vertical',
                          align: 'right',
                          verticalAlign: 'middle',
                          borderWidth: 0
                      },
                      series: [{
                          name: 'Tokyo',
                          data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                      }, {
                          name: 'New York',
                          data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
                      }, {
                          name: 'Berlin',
                          data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
                      }, {
                          name: 'London',
                          data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                      }]
                  });
              });
          </script>
        </div>

      </div>
      <br>
      <h3>Tests</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Test ID</th>
            <th>Test Date</th>
            <th>Ongoing Medication</th>
            <th>BMI</th>
            <th>BP Systolic</th>
            <th>BP Diastolic</th>
            <th>Blood Sugar Fasting</th>
            <th>Blood Sugar PP</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_tests.each do |test| %>
            <tr>
              <td><%= link_to test.id, patient_test_path(@user.actable_id, test) %></td>
              <td><%= test.test_date %></td>
              <td><%= test.ongoing_medication %></td>
              <td><%= test.bmi %></td>
              <td><%= test.bp_systolic %></td>
              <td><%= test.bp_diastolic %></td>
              <td><%= test.blood_sugar_fasting %></td>
              <td><%= test.blood_sugar_pp %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

  <% end %>
  <br>
</div>