<h2>My Profile</h2>

<div>
  <hr>
  <% if user_signed_in? %>
    <% if current_user.role_id == 3 %>
      <br>
      <td><%= link_to 'Show All Tests', patient_test_index_path(@user.actable_id) %></td>
    <% end %>
    <br> <%= "Name: " %> <%= current_user.first_name %> <%= current_user.last_name %>
    <br> <%= "Birth Date: " %> <%= current_user.dob %>
    <br> <%= "Gender: " %> <%= current_user.gender %>
    <br> <%= "Province: " %> <%= current_user.province.name %>
    <br> <%= "District: " %> <%= current_user.district.district_name %>
    <br> <%= "Address Line 1: " %> <%= current_user.address_line_1 %>
    <br> <%= "Contact: " %> <%= current_user.contact %>


    <% if current_user.role_id == 3 %>
      <br>
      <h3>My Doctors</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Provider</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_appointments.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= appt.doctor.first_name + ' ' + appt.doctor.last_name %></td>
              <td><%= appt.appointment_date %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 4 %>
      <br>
      <br><h3>Appointments</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Provider</th>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_appointments_for_nurse.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= appt.doctor.first_name + ' ' + appt.doctor.last_name %></td>
              <td><%= appt.patient.first_name + ' ' + appt.patient.last_name %></td>
              <td><%= appt.appointment_date %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 2 %>
      <br>
      <h3>My Patients</h3>
      <table class="table">
        <div class="nav-item active">
          <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% get_patients.each do |appt| %>
            <tr>
              <td><%= appt.id %></td>
              <td><%= link_to appt.patient.first_name + ' ' + appt.patient.last_name, patient_path(appt.patient) %></td>
              <td><%= appt.appointment_date %></td>
            </tr>
          <% end %>
          </tbody>
        </div>
      </table>
    <% end %>

    <% if current_user.role_id == 3 %>
      <!--  Chart BP Systolic-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'bp_systolic',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Pressure Systolic'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Systolic Value'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% bp_systolic.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.bp_systolic %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <!--  Chart BP Diastolic-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'bp_diastolic',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Pressure Diastolic'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Diastolic Value'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% bp_diastolic.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.bp_diastolic %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <!--  Chart Blood Glucose Fasting-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'blood_sugar_fasting',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Glucose Fasting'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Blood Glucose Fasting'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% blood_sugar_fasting.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.blood_sugar_fasting %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <!--  Chart Blood Sugar PP-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'blood_sugar_pp',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Glucose PP'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Blood Glucose PP'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% blood_sugar_pp.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.blood_sugar_pp %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <!--  Chart Blood Glucose Fasting-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'bmi',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Mass Index'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Body Mass Index'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% bmi.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.bmi %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <!--  Chart BP Diastolic-->
      <script>
          $(function () {
              var chart;
              $(document).ready(function () {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'blood_oxygen_saturation',
                          type: 'column'
                      },
                      title: {
                          text: 'Blood Oxygen Saturation Level'
                      },
                      subtitle: {
                          text: '*Displaying data for past 12 months'
                      },
                      xAxis: {
                          categories: [""],
                          //type: 'category',
                          labels: {
                              style: {
                                  fontSize: '13px',
                                  fontFamily: 'Verdana, sans-serif'
                              }
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'Blood Oxygen Saturation Level'
                          }
                      },

                      plotOptions: {
                          column: {
                              pointPadding: 0.4,
                              borderWidth: 0
                          },
                          series: {
                              borderWidth: 0,
                              dataLabels: {
                                  enabled: true,
                                  format: '{point.y:f}'
                              }
                          }
                      },


                      series: [
                          <% blood_oxygen_saturation.each do |row|%>
                          {
                              name: ['<%= row.test_month%>'],
                              data: [<%= row.blood_oxygen_saturation %>]
                          },
                          <% end %>
                      ],

                  });
              });

          });
      </script>

      <br>
      <div class="row">
        <div class="col">
          <div id="bp_systolic" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col">
          <div id="bp_diastolic" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col">
          <div id="blood_sugar_fasting" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col">
          <div id="blood_sugar_pp" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col">
          <div id="bmi" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col">
          <div id="blood_oxygen_saturation" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>



      <br>

    <% end %>

  <% end %>
  <br>
</div>