<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "custom", :media => "all" %>
  <%= javascript_include_tag "application"%>



  </head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <b><%= link_to "E-HealthCare Dashboard", root_path, class: "navbar-brand" %></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">current</span>
      </li>
      <li class="nav-item active">
        <%= link_to "About Us", about_us_url, class: "nav-link" %><span class="sr-only">current</span>
      </li>

    <!-- Button trigger modal -->
    <% if user_signed_in? %>
      <% if current_user.role_id == 1 %>
          <li class="nav-item active">
          <%= link_to 'Dashboard', dashboard_path,class: "nav-link" %><span class="sr-only">current</span>
          </li>

          <li class="nav-item active">
            <%= link_to 'My Profile', user_path(current_user.id),class: "nav-link" %><span class="sr-only">current</span>
          </li>

          <div class="col-sm">
            <div class="row">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="all">All Users</a>
              <a class="dropdown-item" href="admin">Admin</a>
              <a class="dropdown-item" href="doctor">Doctor</a>
              <a class="dropdown-item" href="patient">Patient</a>
            </div>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="new_admin">Admin</a>
              <a class="dropdown-item" href="new_doctor">Doctor</a>
              <a class="dropdown-item" href="new_patient">Patient</a>
            </div>
            </div>
          </div>
          </div>
    <%end%>

        </ul>

        <%= link_to('Logout', destroy_user_session_path, class: "btn btn-outline-success my-2 my-sm-0", :method => :delete) %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0" %><span class="sr-only"></span>
    <% end %>

  </div>
  </div>
</nav>

<% if flash[:error] %>
  <div id="error">
    <%= flash[:error] %>
  </div>
<% end %>


<div class="container-fluid">

<main role="main">


    <% if flash[:error].present? %>
      <p class='alert alert-danger'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice].present? %>
      <p class='alert alert-warning'><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert].present? %>
      <p class='alert alert-danger'><%= flash[:alert] %></p>
    <% end %>

  <%= yield %>


</main>
</div>

<footer class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget_text">
            <h4 class="widget-title">Location</h4>
            <div class="textwidget">
              <p>
                <br>Asian Institute of Technology
                <br>School of Engineeering and Technology
                <br>P.o. Box 4, Klong Luang,
                <br>Pathumthani 12120,Thailand
              </p>
            </div><!-- /.textwidget -->
          </div><!-- /.widget -->
        </div><!-- /.col-md-3 -->
      </div>
    </div>
  </div>
</footer>

<!-- Bottom -->
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© Copyright <a href="#">Team harmony</a> 2018. All Rights Reserved.
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<!-- Go Top -->
<a class="go-top">
  <i class="fa fa-angle-up"></i>
</a>
</body>
</html>
