<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <b><%= link_to "E-HealthCare Dashboard", root_path, class: "navbar-brand" %></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">current</span>
      </li>
      <li class="nav-item active">
        <%= link_to "About Us", about_us_url, class: "nav-link" %><span class="sr-only">current</span>
      </li>

      <!-- Button trigger modal -->
      <% if user_signed_in? %>

        <% if current_user.role_id == 1 || current_user.role_id == 4 %>
          <li class="nav-item active">
            <%= link_to 'Dashboard', dashboard_path, class: "nav-link" %><span class="sr-only">current</span>
          </li>
          <div class="col-sm">
            <div class="row">
              <div class="dropdown">

                <a class="nav-link dropdown-toggle active" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'All Users', user_index_path, class: "dropdown-item" %>
                  <%= link_to 'Admins', admin_index_path, class: "dropdown-item" %>
                  <%= link_to 'Patients', patient_index_path, class: "dropdown-item" %>
                  <%= link_to 'Doctors', doctor_index_path, class: "dropdown-item" %>
                  <%= link_to 'Nurses', nurse_index_path, class: "dropdown-item" %>
                </div>
              </div>

              <div class="dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Admin', new_admin_path, class: "dropdown-item" %>
                  <%= link_to 'Patient', new_patient_path, class: "dropdown-item" %>
                  <%= link_to 'Doctor', new_doctor_path, class: "dropdown-item" %>
                  <%= link_to 'Nurse', new_nurse_path, class: "dropdown-item" %>
                </div>
              </div>
            </div>
          </div>
          </ul>
          <%= form_tag user_index_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", type: "search", placeholder: "Search User" %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        <% end %>


            <div class="dropdown userbtn">
              <a class="nav-link dropdown-toggle active" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome, <%= current_user.first_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'My Profile', user_path(current_user.id), class: "dropdown-item" %>
                <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to('Logout', destroy_user_session_path, class: "dropdown-item", :method => :delete) %>
              </div>
            </div>
      <% else %>
        <div class="pull-right signinbtn">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info my-2 my-sm-0" %>
      <% end %>
      </div>
      </div>
</nav>

<% if flash[:error] %>
  <div id="error">
    <%= flash[:error] %>
  </div>
<% end %>


<div class="container-fluid">

  <main role="main">


    <% if flash[:error].present? %>
      <p class='alert alert-danger'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice].present? %>
      <p class='alert alert-warning'><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert].present? %>
      <p class='alert alert-danger'><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>


  </main>
</div>

<footer class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget_text">
            <b><h4 class="widget-title">Location</h4></b>
            <div class="textwidget">
              <p>
                Asian Institute of Technology
                <br>School of Engineeering and Technology
                <br>P.o. Box 4, Klong Luang,
                <br>Pathumthani 12120,Thailand
              </p>
            </div><!-- /.textwidget -->
          </div><!-- /.widget -->
        </div><!-- /.col-md-3 -->
      </div>
    </div>
  </div>
</footer>

<!-- Bottom -->
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© Copyright <a href="#">Team harmony</a> 2018. All Rights Reserved.
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<!-- Go Top -->
<a class="go-top">
  <i class="fa fa-angle-up"></i>
</a>
</body>
</html>
