<h2>All Doctors</h2>

<table class="table">
  <div class="nav-item active">
  <thead>
  <tr>
    <th><%= sortable "first_name", "First Name" %></th>
    <th><%= sortable "last_name", "Last Name" %></th>
    <th><%= sortable "username", "Username" %></th>
    <th><%= sortable "email", "Email ID" %></th>
    <th><%= sortable "license_num", "License Number" %></th>

  </tr>
  </thead>

  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.first_name %></td>
      <td><%= doctor.last_name %></td>
      <td><%= link_to doctor.username , doctor_path(doctor) %></td>
      <td><%= doctor.email %></td>
      <td><%= doctor.license_num %></td>

      <td><%= link_to 'Edit', edit_doctor_path(doctor) , class:"btn btn-secondary"%></td>
      <td><%= link_to 'Delete', doctor, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-success" %></td>
    </tr>
  <% end %>
  </tbody>
  </div>
</table>

<%= will_paginate @doctors %>
<br>